        <section class="contacts ">
        	<div class="uk-container uk-container-center">
        		<div class="section-inner bordered pb15 top-line-dec content-padding">
        			<div class="text-center">
        				<div class="mb15">
        					<a href="tel:88008888868" class="contacts__phone fz50 text-brand text-semibold md-fz35 lh">8-800-888-8868</a>
        				</div>
        				
        				<div class="contacts__shedule mb10 fz24">
        					<p>с 08:00 до 21:00</p>
        				</div>
        				<div class="contacts__expectation-time mb15">
        					<p>Мы будем на связи через 4 часа 25 мин</p>
        				</div>
        				<div class="text-center">
        					<a href="#" class="text-underline fz18 uk-display-inline-block">Служба поддержки</a>
        				</div>
    				</div>
    			</div>
        	</div>
        </section>