        <section>
        	<div class="uk-container uk-container-center">
        		<div class="section-inner content-padding">
                    <div class="conditions">
        			<div class="uk-grid  uk-grid-width-1-1 uk-grid-width-medium-1-3 mb40" data-uk-grid-margin="">
        				<div class="text-center">
        					<div class="mb20 ">
        						<object class="conditions-icon" type="image/svg+xml" data="images/0ruble.svg" width="100%" height="100%"></object>
        					</div>
        					<div class="text-uppercase text-semibold fz24 mb15 advantages-ruble ">
        						<p>При сумме покупки <span class="uk-display-inline text-brand">900</span> </p>
                                 <svg class="icon-ruble icon-ruble__bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 330" width="200" height="330"><path d="M115 170c46.87 0 85-38.13 85-85S161.87 0 115 0c-.183 0-.365.003-.546.01H45c-8.283 0-15 6.715-15 15V200H15c-8.284 0-15 6.716-15 15 0 8.284 6.716 15 15 15h15v85c0 8.284 6.716 15 15 15 8.284 0 15-6.716 15-15v-85h55c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15H60v-30zm0-139.99c.162 0 .324-.003.484-.008C145.59 30.262 170 54.834 170 85c0 30.327-24.673 55-55 55H60V30.01z"/></svg>
        					</div>
							<div class="fz21">
								<p>Бесплатная <br/>
								доставка</p>
							</div>
        				</div>
        			
        				<div class="text-center">
        					<div class="mb20">
        						<object class="conditions-icon" type="image/svg+xml" data="images/mail-russia.svg" width="100%" height="100%"></object>

        					</div>
        					
        				
        					<div class="text-uppercase fz24 text-semibold mb15">
        						<p>Почта России</p>
    						</div>
    						<div class="fz21">
    							<p>
    								Возможен <br/>
									наложенный платеж
    							</p>
    						</div>
    					</div>
        			
        				<div class="text-center">
        					<div class="mb20">
        						<object class="conditions-icon" type="image/svg+xml" data="images/delivery.svg" width="100%" height="100%"></object>
        					</div>
        				
        				<div class="text-uppercase fz24 text-semibold mb15">
        						<p>Курьерская доставка</p>
    					</div>
    					<div class="fz21">
    						<p>
    						Возможна <br/>
							достака до двери
    						</p>
    						</div>
						</div>
        			</div>
                    </div>	
					<div class="text-center">
						<p>Возможна оплата заказа при получении</p>
					</div>
        		</div>
        	</div>
        </section>