<section class="">
        	<div class="uk-container uk-container-center">
        		<div class="section-inner bordered content-padding pb15">
                    {% include "../elements/section-title.twig" with {"title": "белорусскАЯ косметикА"} %}
        		<div class="fz50 text-brand mb25 text-center lh-normal md-fz35">
        			<p>Доставка в Нижний Новгород</p>
        		</div>
        		<div class="text-center">
        			<i class="uk-icon uk-icon-map-marker uk-display-inline text-brand fz30"></i>
        			<a href="#" class="fz18 text-underline text-center uk-display-inline">
        				Выбрать город
        			</a>
        		</div>
        		</div>
        	</div>
        </section>