<section class="breadcrumb">
	<div class="uk-container uk-container-center">
		<div class="section-inner">
			
		<ul class="uk-breadcrumb">
    	<li><a href="">Главная</a></li>
    	<li class="uk-active"><span>Линии белорусской косметики</span></li>
		</ul>
	</div>
	</div>
	
	
</section>
<div class="page-title">
		<div class="uk-container uk-container-center">
			<div class="fz30 text-uppercase lh-normal sm-fz20">
			<p> {{ title }} </p>
		</div>
		</div>
</div>