<section class="breadcrumb">
	<div class="uk-container uk-container-center">
		<div class="section-inner">
			
		<ul class="uk-breadcrumb" data-uk-grid-margin="">
    	<li><a href="">Главная</a></li>
    	<li><a href="">Для тела</a></li>
    	<li><a href="">Средство для облысения</a></li>
    	<li class="uk-active"><span>Комплект 3G интернет для дачи и загородного дома</span></li>
		</ul>
	</div>
	</div>
	
	
</section>
<div class="page-title">
		<div class="uk-container uk-container-center">
			<div class="fz30 text-uppercase lh-normal sm-fz20">
			<h1> {{ title }} </h1>
		</div>
		</div>
</div>