body
	color: $black
	font-size: 18px
	line-height: 1.2em !important
	font-family: $font-base
	font-weight: normal
	
p
	line-height: 1.2em !important

a
	text-decoration: none
	&:hover
		color: $brand2
		
input, textarea
	transition-property: border, background, color, box-shadow, padding
	transition: all 0.2s linear
	border: 1px solid #ddd
	font-family: $font-base
	&:focus
		outline: 0
		border-color: #cd96ff !important
		background-color: #fff !important
	
textarea
	font-family: $font-base


.owl-nav
	height: 0

.page-header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	

.page-header__navbar
	background-color: #f2eeef
	padding: 10px 0 10px 0
	font-size: 17px

//SLIDERS
.lines-slider
	padding-left: 30px
	padding-right: 30px

	
.products-slider-tabs
	.owl-carousel
		@extend %navs
	.tabs-nav
		li
			width: 120px !important

.products-slider
	@extend %navs

.lines-slider, .page-hero-slider__list
	@extend %navs


.page-hero-slider__list
	.owl-prev, .owl-next
		background-color: $black

	.owl-prev
		&::before
			color: $brand


	.owl-next
		&::before
			color: $brand


.reviews-slider, .partners-slider, .card-carousel
	@extend %navs-arrows

.card-carousel
	.owl-item
		cursor: pointer

		// dsdsdsdsdsds


.partners-slider

	.owl-prev
		&::before
			transform: translate(-120%, -50%)
			color: $text-black
			font-size: 20px

	.owl-next
		&::before
			transform: translate(120%, -50%)
			color: $text-black
			font-size: 20px


.page-header__navbar-inner

.page-header__nav
	align-items: center
	display: flex
	justify-content: flex-start
	li
		&:not(:last-child)
			margin-right: 20px

.page-header__nav-inner


.page-header__phone-wrapper
	position: absolute
	top: 50%
	right: 0
	transform: translateY(-50%)
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	& > a
		&:not(:last-child)
			margin-right: 20px

.page-header__search-panel
	background-color: $black
	
.show-on-scroll
	display: none
	
.page-header__destination-mobile
	display: none
	
.page-header__logo-panel
	z-index: 110
	padding: 20px 0 20px 0
	background-color: #fff
	&.is_stuck
		box-shadow:  0 0 20px rgba(0,0,0,0.15)
		-webkit-transform: translate3d(0,0,0) //avoid blinking in web kit
		transform: translate3d(0,0,0)
		.hide-on-scroll
			display: none
		.show-on-scroll
			display: block
	
		.page-header__actions-bar
			.uk-dropdown
				margin-top: 14px
		.scroll-mb0
			margin-bottom: 0
			
		.side-dd-wrapper-scroll
			visibility: visible
			pointer-events: initial
		
.footer-copyright::before
	font-family: $font-icon
	content: '\f1f9'
	margin-right: 5px

.page-header__search-panel-inner
	padding: 10px 0 10px 0

	
.mobile-menu-btn
	color: $brand
	font-size: 25px
	margin-right: 20px
	background-color: transparent
	border: none
	&:focus
		outline: none
		
.strech .owl-stage
	display: flex
	align-items: stretch
	.owl-item
		display: flex
		align-items: stretch
		
.side-dd-text
	padding-left: 25px
	
.page-header__tovars-counter
	margin-left: 35px
	&::after
		content: 'товаров'


.page-header__search-bar
	width: 100%
	position: relative
	input
		width: 100%
		height: 35px
		background-color: transparent
		border: 1px solid $brand
		padding: 0 40px 0 15px
		color: #fff
		font-size: 18px
		&:focus, &:hover
			background-color: transparent !important
			border-color: $brand !important
			outline: none !important
		

	&::after
		content: '\f002'
		font-family: $font-icon
		position: absolute
		color: $brand
		top: 48%
		transform: translateY(-50%)
		right: 15px
		flex: 25px


.page-hero-slider__img
	object-fit: cover
	max-height: 400px

.page-hero-slider__list-content
	z-index: 200
	padding: 30px 0 20px 50px
	
	
.page-hero-slider__item
	-webkit-background-size: cover
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 400px

.grey-bg
	background-color: $lightgrey

.section-title
	text-transform: uppercase
	font-size: 30px
	margin-bottom: 30px
	text-align: center
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	line-height: 1.2em
	&::before
		@extend %line
		margin-bottom: 15px
	&.section-title-bottom
		&::before
			display: none
		&::after
			@extend %line
			margin-top: 15px

.underlined-list__img
	width: 100%
	margin-bottom: 10px
	img
		object-fit: cover
		width: 100%
		
.underlined-list > .uk-grid
	display: flex
	justify-content: center

.underlined-list__item
	display: flex
	flex-direction: column
	justify-content: space-between

.underlined-list__caption
	position: relative
	display: flex
	align-items: center
	justify-content: center
	font-size: 25px
	text-transform: uppercase
	flex-direction: column
	text-align: center
	line-height: 1.2em
	padding: 0 20px
	&::after
		@extend %line
		margin-top: 20px
		

.page-header__logo-panel
	&.is_stuck
		padding: 10px 0
		.hide-on-scroll
			display: none

.tabs-nav
	li
		width: 100%
		text-align: center
		min-width: 120px
		flex-grow: 1
		max-width: 230px
		opacity: 1


		& > a
			font-size: 20px
			color: $darker-black
			font-size: 20px
			text-transform: uppercase
			font-family: $font-base-bold
			background-color: $lightgrey
			white-space: nowrap
			height: 100%
		&:hover > a
			color: $darker-black
		&.uk-active , &.active
			& > a
				background-color: $brand
				color: #fff
			.card-reviews__counter
				background-color: #FFF
				color: #2b2b2b

	&.product-tabs
		li
			max-width: 300px
			a
				line-height: 46px


.tabs-nav .uk-tab
	flex-wrap: wrap

.tabs-nav
	.uk-tab
		display: flex
		justify-content: center
		border: none
		flex-wrap: wrap
		.uk-grid-margin
			margin-top: 20px
		li.uk-grid-margin
			margin-top: 15px
			margin-right: 20px
			
.text-left
	text-align: left
	
.side-dd-wrapper-scroll
	position: absolute
	top: 50%
	left: 0
	transform: translateY(-50%)
	pointer-events: none
	visibility: hidden
	
	.uk-dropdown-bottom
		margin-top: 20px
		
.products-img
	max-height: 200px
	overflow: hidden
	display: flex
	justify-content: center
	img
		width: initial !important
		
.products-slider__item-footer
	margin-top: auto
		
.products-slider__item-description
	height: 65px
	display: block

.products-item
	padding: 40px 17px 15px 17px
	border: 1px solid #c1c1c1
	max-width: 260px
	margin: 0 auto
	height: 620px
	display: flex
	justify-content: flex-start
	flex-direction: column


.ruble-icon, .delivery-icon
	width: 60px
	height: 60px

.products-item__icon
	width: 25px
	height: 25px

.products-item-footer
	padding-top: 10px
	border-top: 1px solid #c9c9c9
	
.reviews-slider__name
	text-align: center
	height: 50px
	display: flex
	align-items: center

.page-footer__bottom-panel
	background-color: #323232
	padding: 15px 0 15px 0
	font-size: 16px
	display: flex
	align-items: center
	color: $brand
	a
		color: $brand
		&:hover
			color: #ebebeb
	p
		margin-left: 25px
		
.button-up
	color: #fff !important
	+trans()
	&:before
		+chevron(7px, 2px, t, #fff)
		margin-right: 15px
		position: relative
		top: 1px
		transform: rotate(45deg)
		content: ''
	&:hover
		color: #ebebeb !important
		&:before
			border-top-color: #ebebeb !important
			border-left-color: #ebebeb !important
			

.footer-site-map-btn
	&::after
		content: '|'
		margin-left: 5px
		margin-right: 5px
		display: inline
	&:hover
		&::after
			color: $brand
		
.jq-radio
	&.checked .jq-radio__div
		margin: 0
		width: 9px
		height: 9px
		background: $brand
		box-shadow: none
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&.focused
		border: 1px solid $brand2 !important
		outline: initial !important

.jq-radio
	border: 1px solid #c1c1c1
	&.focused
		outline: none
		border: none
	
	
.page-footer__inner
	background-color: $lightgrey
	padding: 30px 0 30px 0

.page-footer__title
	font-size: 23px
	margin-bottom: 45px
	font-family: $font-base-bold

.page-footer__nav
	display: flex
	flex-direction: column
	a
		text-decoration: underline
		&:not(:last-child)
			margin-bottom: 10px

.footer-logo__wrapper
	max-width: 185px

.page-footer__hot-line
	margin-bottom: 38px

.footer-logo__wrapper
	margin-bottom: 20px

.page-footer__year
	margin-right: 30px


.centered-limitation-block
	max-width: 780px
	margin: 0 auto  //efefefe

.advantages-list
	&.uk-grid > *
		padding-left: 20px

.advantages-icon
	width: 70px
	height: 70px
	display: inline-block

.reviews-slider__img
	border-radius: 100%
	width: 80px
	height: 80px
	overflow: hidden
	border: 2px solid $brand
	display: flex
	align-items: center
	font-family: $font-base-bold
	justify-content: center
	font-size: 30px
	color: #666
	
.reviews-slider__description
	flex-grow: 1

.reviews-slider
	.owl-stage
		display: flex
		.owl-item
			display: flex
			align-items: stretch

.reviews-slider__item
	border: 1px solid #c1c1c1
	background-color: #FFF
	padding: 25px 20px 25px 20px
	min-height: 315px
	max-width: 240px
	display: flex
	flex-direction: column
	justify-content: space-around
	margin: 0 auto

.reviews-slider__social-icon
	position: absolute
	top: 15px
	right: 15px
	color: #6b6b6b
	font-size: 30px
	


.products-valuation
	display: flex
	flex-direction: row
	font-size: 15px //dsdsds
	color: $brand

.products-number
	&::before
		content: '('
		display: inline
	&::after
		content: ')'
		display: inline ///wdwdffddw

svg
	width: 100%
	height: auto



	

.header-delivery-icon
	width: 40px
	height: 20px
	margin-right: 20px
	
.header-delivery-icon-link
	&:hover
		color: #cbb1e3

.page-header__actions-bar__icon
	width: 35px
	height: auto


.page-header__actions-bar
	height: 40px
	.uk-dropdown
		margin-top: 25px
		box-shadow:  0 0 20px rgba(0,0,0,0.15)
		
	& > *
		&:not(:last-child)
			margin-right: 20px
	a
		position: relative
		z-index: 20
		
		&.page-header__actions-bar__key
			width: 47px
		svg
			path
				+trans()
				fill: $brand
		&:hover
			svg
				
				path
					fill: $brand * 0.9
					
					
.page-header__actions-bar__heart, .page-header__actions-bar__key, .page-header__actions-bar__bag, .page-header__actions-bar__person
	width: 42px
	z-index: 20
	//background-color: $beige
	border-radius: 100%
	padding: 7px
	background-color: transparent

.products-item__icon
	border-radius: 100%
	padding: 10px
	width: 50px
	display: flex
	justify-content: center
	height: 50px
	align-items: center
	background-color: transparent
	transition: all 0.3s ease 0s
	
	+trans()
	svg
		path
			+trans()
			fill: $brand
	&:hover
		background-color: $beige
		svg
			path
				fill: $brand * 0.9

.page-hero-slider__list-content-half
	margin: 30px 0 20px 50px
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	
ul.markered-list
	position: relative
	li
		padding-left: 20px
		
		&::before
			content: '\f111'
			font-family: $font-icon
			font-size: 10px
			position: absolute
			color: $brand
			left: 0
		&:not(:last-child)
			margin-bottom: 10px


.page-hero-slider__list-content
	font-size: 0
	overflow: hidden
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: stretch

.page-header__search-panel-delivery

	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row


.d-n
	display: none

.page-hero-slider__img
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

.page-hero-slider__title
	font-size: 40px

.page-hero-slider__description
	font-size: 25px

.fx-wrap
	flex-wrap: wrap

.partners-slider__item
	max-width: 131px
	margin: 0 auto
	border: 1px solid #c1c1c1
	

.lines-item__img
	height: auto
	margin-right: 45px

.lines-item
	padding: 30px
	border: 1px solid #c1c1c1

.lines-item__img
	width: 25%


.lines-item__text
	width: 75%

.sidebar-item
	.slide-toggle
		margin-left: 20px

.slide-toggle
	width: 27px
	height: 27px
	background-color: $brand
	position: relative
	+trans()
	cursor: pointer
	&:hover
		background-color: $brand * 0.8
	&::before
		width: 13px
		height: 3px
		background-color: #FFF
		position: absolute
		content: ''
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&.active
		&::after
			width: 3px
			height: 13px
			background-color: #FFF
			position: absolute
			content: ''
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.sidebar-item
	padding: 20px
	position: relative
	background-color: #f2eeef
	&::before
		width: 107px
		height: 3px
		background-color: $brand
		position: absolute
		left: 0
		content: ''
		display: block
		top: 0

.category-filter__item
	&:not(:last-child)
		margin-bottom: 15px


.category
	.sidebar
		width: 25%
	.content
		width: 75%

.category-filter__item-number
	background-color: $brand
	line-height: 15px
	font-size: 16px
	color: #fff
	padding: 5px
	margin-left: 30px

.sidebar-item
	&:not(:last-child)
		margin-bottom: 20px

.list-mb-10
	& > *:not(:last-child)
		margin-bottom: 10px

.list-mb-20
	& > *:not(:last-child)
		margin-bottom: 20px


.card-manufacturer__img
	max-width: 130px
	height: auto


.card-slider
	padding: 0 25px 0 25px

.sidebar-title
	font-size: 20px
	text-transform: uppercase
	font-family: $font-base-semibold

.card__old-price
	color: #5c5c5c
	text-transform: uppercase
	text-decoration: line-through

.card__new-price
	font-size: 40px
	text-transform: uppercase
	display: inline-flex
	align-items: baseline
	white-space: nowrap
	p
		display: inline
		line-height: 1em !important
	h3
		display: inline
	i
		display: inline
	.icon-ruble
		height: 27px
		margin-left: 3px
		width: initial

.advantages-ruble
	display: flex
	align-items: baseline
	justify-content: center
	.icon-ruble
		height: 17px
		margin-left: 3px
		width: initial
		path
			fill: $brand
.card-socials
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	font-size: 25px
	.uk-icon
		&:not(:last-child)
			margin-right: 10px


.breadcrumb
	margin-top: -30px
	margin-bottom: 30px !important


.card-main
	background-color: $beige
	padding: 20px 35px 30px 35px ///wdwdsdsw
	overflow: hidden
	.uk-grid-margin
		margin-top: 15px

.dd-full

	height: 100vh

.dp-panel
	transform: translate(100%, 0)
	transform: translate3d(100%, 0, 0)
	transition: transform .4s ease
	transform-origin: top left
	position: absolute
	overflow-x: hidden
	background-color: #fff ///wefewfwefwegergr

	top: 0
	left: 0
	width: 100%
	height: 100%
	& > a
		width: 100%
		display: block
		text-align: center
		line-height: 40px
		font-size: 16px
		color: #000
		position: relative
		padding: 0 30px 0 30px
		text-transform: uppercase
		border-bottom: 1px solid $lightgrey
		&::before
			content: '\f053'
			font-family: $font-icon
			font-size: 15px
			position: absolute
			top: 50%
			left: 15px
			transform: translateY(-50%)
	.uk-nav
		padding: 45px 20px 50px 20px



.dp-panel-open
	transform: translate(0, 0)
	transform: translate3d(0, 0, 0)

.uk-offcanvas-bar
	background-color: #fff
	padding: 70px 20px 50px 20px
	.uk-nav-offcanvas > li > a
		color: #000

.uk-nav-offcanvas, .dp-panel .uk-nav

	& > li
		&:not(:last-child)
		border-bottom: 1px solid $lightgrey
		&:hover
			& > a
				color: #000
		& > a
			padding: 0 15px 0 15px
			color: #000
			line-height: 40px
			
			

.uk-nav-parent-icon > .uk-parent
	& > a:after
		content: '\f054'
	&.uk-open > a:after
		content: '\f054'

.uk-offcanvas-bar__close
	position: absolute
	right: 20px
	top: 20px
	font-size: 30px
	cursor: pointer

.uk-offcanvas-bar__search
	width: 100%
	position: relative
	margin-bottom: 30px
	input
		width: 100%
		height: 35px
		background-color: transparent
		border: 1px solid $brand
		padding: 0 40px 0 15px
		color: #000
		font-size: 18px
		&:focus
			outline: none !important

	&::after
		content: '\f002'
		font-family: $font-icon
		position: absolute
		color: $brand
		top: 48%
		transform: translateY(-50%)
		right: 15px
		flex: 25px

.breadcrumb
	background: $lightgrey
	padding: 15px 0 15px 0

.uk-breadcrumb
	& > li > *
		font-size: 17px
	& > li:not(.uk-active)
		a
			text-decoration: underline !important
			
.uk-breadcrumb>li, .uk-breadcrumb>li>a, .uk-breadcrumb>li>span
	font-size: 16px
			
.uk-breadcrumb>li:nth-child(n+2):before
	content: "|"

.card-reviews
	.tabs-content
		background-color: $lightgrey
		padding: 35px 80px 35px
		border-top: 4px solid $brand
		position: relative

	.tabs-nav
		li
			max-width: initial
		.uk-tab
			justify-content: flex-start
			a
				display: flex
				align-items: center
				justify-content: center
	

.uk-tab > li:nth-child(n+2) > a
	margin-left: 0

.uk-tab > li:nth-child(n+2)
	margin-left: 20px

.card-slider
	background-color: #FFF
	border: 1px solid #c1c1c1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	padding: 35px 0 35px
	margin-left: 5px
	margin-right: 5px
 

.card-carousel__item
	border: 1px solid #c1c1c1


.card-slider__item
	max-width: 415px
	margin: 0 auto
	
.sdsd
	display: none
	

.card-slider
	.owl-dots > div
		width: 165px
		height: 145px
		&:not(:last-child)
			margin-right: 25px
			
.card
	.sidebar-item
		.uk-grid-margin
			margin-top: 15px

.hamburger
	padding: 0
	height: 25px
	&:focus
		outline: none

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
	
	background: $brand
	width: 35px
	height: 3px



[class*='owl-']
	+trans

.card-carousel
	padding: 0 25px 0 25px
	.owl-prev
		&::before
			transform: translate(-50%, -50%) /////сысысысысысысаысысыс

   

	.owl-next
		&::before
			transform: translate(50%, -50%)



select
	height: 35px
	opacity: 0

input[type="checkbox"], input[type="radio"]
	opacity: 0

.jq-selectbox
	width: 100%

	

.jq-selectbox__select
	background: transparent
	box-shadow: none
	border-radius: 0
	border-color: $brand ///dwwd
	&:hover
		background: transparent
		box-shadow: none


.jq-selectbox__trigger
	border-color: $brand

.jq-selectbox.focused .jq-selectbox__select
	border-color: $brand


.jq-selectbox__trigger-arrow
	border-top-color:  #d1688f
	//border-color: $brand


.jq-selectbox__dropdown
	border-color: $brand
	border-radius: 0
	
.jq-selectbox li.selected
	background-color: #eae2e5
	color: $black
	
.jq-selectbox li:hover
	background-color: #eae2e5
	color: $black
	

.uk-modal
	transition: none !important
	
.side-dd-text
	cursor: pointer

.jq-checkbox
	border-color: $brand
	border-radius: 0
	position: relative
	flex-shrink: 0
	margin: 0 10px 0 0
	text-align: initial !important
	&.checked
		&::before
			content: '\f00c'
			font-family: $font-icon
			position: absolute
			font-size: 14px
			color: $brand
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	&.focused
		border-color: $brand


.jq-checkbox__div
	display: none

.uk-pagination > li
	font-size: 22px

.uk-pagination > li > a, .uk-pagination > li > span
	padding: 7px 9px

.uk-pagination > .uk-active > span
	background: $brand

.pagination
	.uk-icon:before
		color: #d1688f
		font-size: 15px
	.uk-pagination
		li:first-child > a
			background: transparent

		li:last-child > a
			background: transparent

.checkbox-btn
	cursor: pointer
	input
		display: none

.pagination-annotation
	position: absolute
	left: 0
	top: 50%
	transform: translateY(-50%)
	span
		display: inline

.card-description-product
	border: 1px solid #c1c1c1
	min-height: 200px
	max-width: 320px
	margin: 0 auto

.login-btn
	background-color: $brand
	font-size: 18px
	text-transform: uppercase
	font-family: $font-base-bold
	color: #fff
	+trans()
	&:hover
		background-color: $brand * 0.8
		color: #fff

a.svg
	position: relative
	display: inline-block
	&::after
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0


.uk-offcanvas-bar
	width: 320px

.slide-toggle-content
	padding-top: 20px


.modal-login
	width: 100%
	max-width: 330px
	padding: 30px 40px 0

.modal-login__socials
	&-gp
		background-color: #d03324
		&:hover
			background-color: #d03324 * 0.8
	&-fb
		background-color: #3b5998
		&:hover
			background-color: #3b5998 * 0.8
	&-vk
		background-color: #4d75a3
		&:hover
			background-color: #4d75a3 * 0.8
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	a
		width: 80px
		color: #fff
		+trans()
		height: 30px
		border-radius: 3px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		&:focus
			outline: none

.mr40
	margin-right: 40px

.modal-reg__socials
	flex-grow: 1 ///efefef
	&-gp
		background-color: #d03324
		&:hover
			background-color: #d03324 * 0.8
	&-fb
		background-color: #3b5998
		&:hover
			background-color: #3b5998 * 0.8
	&-vk
		background-color: #4d75a3
		&:hover
			background-color: #4d75a3 * 0.8
	&-link
		background-color: #c1c1c1
		&:hover
			background-color: #c1c1c1 * 0.8
		

	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between

	a
		+trans()
		width: 30px
		height: 30px
		border-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		&:focus
			outline: none

.modal-login__divider, .dropdown-divider
	
	overflow: hidden
	position: relative
	z-index: 20
	&::before
		content: ''
		border-top: 1px solid #d6d6d6
		position: absolute
		top: 60%
		z-index: 1
		left: 0
		height: 1px
		width: 100%
		transform: translateY(-50%)
	p
		position: relative
		display: inline
		padding-left: 10px
		padding-right: 10px
		z-index: 2
		background-color: #fff
		
.dropdown-footer
	background-color: $beige
	padding: 15px 0
	text-align: center /////wdwdwdw
	margin: 0 -15px
	.btn-primary
		text-transform: none !important

.dropdown-divider
	&-inner
		position: relative
		display: inline
		padding-left: 10px
		padding-right: 10px
		z-index: 2
		background-color: #fff
	&::before
		content: ''
		border-top: 1px solid #d6d6d6
		position: absolute
		top: 60%
		z-index: 1
		left: 0
		height: 1px
		width: 100%
		transform: translateY(-50%)

.modal-login__footer
	padding: 15px 0
	position: relative
	&::before
		background-color: $beige
		position: absolute
		top: 0
		left: -38px
		right: -38px
		bottom: 0
		z-index: -1
		content: ''


.uk-modal-close
	position: absolute
	top: 20px
	right: 20px
	font-size: 20px
	
	&::after
		color: $black
		opacity: 1
	
.page-title
	background-color: #FFF
	margin-bottom: 30px
	text-align: left
	h1, h2, h3, p
		font-size: 30px
		text-transform: uppercase
		line-height: 1.2em

.card-code
	margin-left: 10px

.hidden
	display: none

.side-dd-sub__title
	border-bottom: 1px solid $brand
	font-family: $font-base-bold
	height: 50px
	align-items: center
	display: flex
	padding: 0 0 0 20px
	a
		text-transform: uppercase
		color: $black

.side-dd-sub
	overflow: hidden
	position: absolute !important
	top: 0
	display: none
	background-color: #f5f5f5
	height: initial !important
	.uk-nav ul a
		padding: 5px 15px
	&.active
		display: block
		
.ws-nw
	white-space: nowrap
	-webkit-hyphens: auto
	-moz-hyphens: auto
	-ms-hyphens: auto
	hyphens: auto

.header-logo
	height: 32px
	transition: none
	max-width: 220px
	svg
		height: 32px
		width: 100%

.catalog-dd.uk-open
	.catalog-dd-overlay
		position: relative
		transition: opacity .15s linear
		position: fixed
		content: ''
		overflow-y: scroll
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 20
		background: rgba(0,0,0,.4)
		transform: translateZ(0)
		transition: opacity .15s linear
		
.side-dd-sub-list, .side-dd-sub-column
	& > a
		height: 50px
		display: flex
		align-items: center
		padding: 0 20px 0 20px !important
		color: black !important
		box-sizing: border-box
		text-decoration: none
		white-space: nowrap
		border-bottom: 1px solid #e4e4e4
		&:hover
			color: $brand2 !important
			text-decoration: none
			background-color: #e4e4e4
		
.side-dd-sub-list
	display: flex
	justify-content: flex-start

.side-dd
	font-size: 16px
	background-color: $brand
	.uk-nav ul
		padding-left: 0
	.uk-nav-dropdown > li
		& > a
			text-transform: uppercase
			color: #fff
			height: 50px
			display: flex
			align-items: center
			padding: 0 30px 0 10px
		&:not(:last-child)
			& > a
				border-bottom: 1px solid #fff
		&.side-dd-parent > a::after
			+chevron(10px, 3px, r, #fff)
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%) rotate(45deg)
			right: 12px
	
	&.uk-dropdown .uk-nav
		margin: 0 !important
		
	.uk-nav-dropdown > li > a:hover, .uk-nav-dropdown > li > a:focus
		background: $black
	&.uk-dropdown
		padding: 0

.card-reviews__counter
	font-size: 22px
	color: #fff
	text-transform: uppercase
	background-color: $brand
	display: inline
	padding: 0 10px
	margin-left: 25px
	p
		display: inline

.ml25
	margin-left: 25px

.card-valuation
	.uk-icon
		color: $brand

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	background-color: #d1688f
	color: #fff
	border: none

.nav-tabs > li
	width: 100%
	& > a
		border-radius: 0
		width: 100%

.nav-tabs
	border: none
	& > li > a
		border: none
		margin: 0

.nav > li > a
	padding: 0

.nav-tabs > li > a:hover
	border: none


.page-footer__payment-variants-item
	&:not(:last-child)
		margin-right: 40px
	width: 55px
	height: 40px
	background-repeat: no-repeat
	&.yandex
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55px' height='100%' viewBox='0 0 98 72'%3E%3Cpath fill='none' d='M0 0H98V72H0z'/%3E%3Cpath d='M24.65,34.8c0-3.5.2-6,7.7-11.5,6.2-4.6,26-20.3,26-20.3V29.3h15V67H29.25a4.7926,4.7926,0,0,1-4.6-4.6Z' fill='%23fc0'/%3E%3Cpath fill='%23d6ab05' d='M58.45 29.3L58.45 44.5 30.65 63.2 65.65 52 65.65 29.3 58.45 29.3z'/%3E%3Cpath d='M45.65,28.4c1.5-2,4-2.6,5.3-1.5s1.1,3.5-.7,5.5c-1.5,2-4,2.6-5.3,1.5-1.1-1.1-.9-3.5.7-5.5'/%3E%3C/svg%3E")
	&.sber
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55px' height='40px' viewBox='0 0 28.13 28.427'%3E%3Cg fill='%23466B4A'%3E%3Cpath d='M24.502 6.64c-.147-.22-.3-.44-.462-.652a9.71 9.71 0 0 0-.217-.275l-.12-.146L9.545 13.71 2.677 9.76a12.316 12.316 0 0 0-.332 1.343l7.2 4.142L24.5 6.64z'/%3E%3Cpath d='M20.473 2.827a12.137 12.137 0 0 0-1.424-.714L9.544 7.58 5.313 5.145c-.3.332-.585.68-.848 1.043l5.08 2.924 10.928-6.285z'/%3E%3Cpath d='M22.775 4.568c-.34-.326-.697-.632-1.07-.917l-12.16 6.996-5.803-3.34c-.22.387-.42.784-.596 1.19l6.4 3.68 13.23-7.608z'/%3E%3Cpath d='M3.8 19.484a12.198 12.198 0 0 0 6.532 5.374c.476.166.97.303 1.47.41.707.15 1.436.237 2.18.258h.68a12.278 12.278 0 0 0 6.018-1.78 12.2 12.2 0 0 0 3.572-3.336 12.184 12.184 0 0 0 2.257-7.385 12.284 12.284 0 0 0-1.336-5.237l-15.63 8.987-7.377-4.244a12.276 12.276 0 0 0 .176 3.023 12.085 12.085 0 0 0 1.456 3.93z'/%3E%3C/g%3E%3C/svg%3E")
	&.visa
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55px' height='40px' viewBox='0 0 43.214 16.994'%3E%3Cpath fill='%234C70B3' d='M18.733 14.642H15.54l1.995-12.264h3.194zM37.968 14.642H40.9L38.343 2.378h-2.567c-1.185 0-1.474.914-1.474.914l-4.762 11.35h3.328l.666-1.822h4.06l.374 1.822zm-3.514-4.338l1.678-4.59.944 4.59h-2.622zM29.79 5.327l.456-2.634s-1.406-.535-2.872-.535c-1.585 0-5.347.693-5.347 4.06 0 3.17 4.416 3.208 4.416 4.872s-3.96 1.366-5.268.317L20.7 14.16s1.426.693 3.604.693 5.466-1.13 5.466-4.2c0-3.188-4.456-3.485-4.456-4.87 0-1.387 3.11-1.21 4.476-.456z'/%3E%3Cpath fill='%23E59D4D' d='M9.496 9.09L8.398 3.454S8.265 2.327 6.85 2.327H1.71l-.06.212s2.47.51 4.84 2.43c2.267 1.833 3.006 4.12 3.006 4.12z'/%3E%3Cpath fill='%234C70B3' d='M12.854 2.378L9.81 10.813l-.36-1.816-.008-.042c-.202-.527-1.022-2.41-2.95-3.972-.46-.373-.925-.69-1.374-.964L7.884 14.64h3.327l5.08-12.264h-3.436z'/%3E%3C/svg%3E")
	&.mastercard
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55px' height='40px' viewBox='0 0 46.257 28.142'%3E%3Cg fill='%23E69F44'%3E%3Cpath d='M40.87 13.402c-.638 0-1.092.746-1.092 1.798 0 .7.243 1.054.722 1.054.656 0 1.116-.742 1.116-1.802 0-.68-.262-1.05-.746-1.05zM32.585 15.898c0 .333.197.546.504.546.572 0 .987-.547 1.01-1.338a2.362 2.362 0 0 0-.313-.022c-.798 0-1.202.274-1.202.814z'/%3E%3Cpath d='M31.955 1.107a12.924 12.924 0 0 0-10.014 4.73h2.62c.358.436.688.894.988 1.374H20.95c-.274.442-.525.9-.746 1.375h6.092c.208.444.392.902.55 1.373h-7.19c-.15.448-.277.906-.378 1.373h7.943c.056.257.1.517.14.78h.002c.035.238.064.478.088.72.504-1.28 1.53-2.08 2.83-2.08.616 0 1.342.26 1.55.34l-.232 1.428c-.503-.253-.867-.355-1.258-.355-1.05 0-1.788 1.016-1.788 2.465 0 .998.496 1.6 1.314 1.6.346 0 .73-.106 1.196-.337l-.248 1.5c-.518.142-.854.193-1.244.193-1.065 0-1.847-.54-2.218-1.467-.113.715-.283 1.41-.507 2.08h-7.19c.157.47.34.93.55 1.375h6.09c-.222.474-.47.933-.747 1.375h-4.596c.3.478.63.937.99 1.372h2.618c-.403.49-.84.948-1.31 1.374a12.92 12.92 0 0 0 8.706 3.357c7.162 0 12.968-5.806 12.968-12.968 0-7.165-5.806-12.973-12.97-12.973zm3.17 16.382H33.96l.025-.555c-.355.438-.83.647-1.475.647-.763 0-1.286-.596-1.286-1.462 0-1.303.91-2.062 2.47-2.062.16 0 .365.015.574.042.043-.178.055-.253.055-.35 0-.353-.245-.484-.902-.484a4.663 4.663 0 0 0-1.49.24l.197-1.203c.702-.206 1.164-.284 1.684-.284 1.21 0 1.85.542 1.85 1.568.002.274-.044.614-.114 1.06-.123.775-.385 2.438-.42 2.84zm1.878 0h-1.408l.064-.36c.244-1.658.557-3.335.733-4.99h1.294c.012.27-.05.537-.085.81.432-.632.76-.965 1.35-.843-.174.296-.408.882-.534 1.552-.79-.08-.912.558-1.415 3.83zm4.24 0l.067-.498c-.386.412-.782.59-1.297.59-1.024 0-1.7-.88-1.7-2.22 0-1.78 1.05-3.28 2.29-3.28.547 0 .96.224 1.345.73l.312-1.9h1.39l-1.073 6.578h-1.333z'/%3E%3C/g%3E%3Cg fill='%23D12020'%3E%3Cpath d='M22.056 13.238c-.446 0-.764.34-.894.955h1.545c.007-.112.15-.955-.65-.955zM10.405 15.898c0 .333.197.546.505.546.573 0 .987-.547 1.01-1.338a2.365 2.365 0 0 0-.314-.022c-.797 0-1.2.274-1.2.814z'/%3E%3Cpath d='M27.11 14.742c0-.712.12-1.357.34-1.913l-.01-.125c-.006-.06-.016-.12-.023-.18-.017-.14-.035-.278-.056-.417-.173.297-.407.88-.533 1.55-.79-.08-.91.56-1.414 3.83h-1.408l.064-.36c.243-1.656.557-3.333.734-4.988h1.292c.013.27-.05.537-.084.81.43-.632.76-.965 1.35-.843-.005-.024-.007-.05-.01-.073-.01-.066-.025-.13-.036-.197a13.585 13.585 0 0 0-.086-.456l-.012-.05h-7.94c.1-.467.226-.925.376-1.373h7.186c-.016-.05-.033-.098-.05-.146a12.7 12.7 0 0 0-.428-1.072l-.07-.154h-6.088c.222-.475.472-.933.747-1.374h4.595c-.076-.122-.152-.244-.233-.363-.024-.035-.05-.07-.073-.105a14.118 14.118 0 0 0-.68-.906h-2.62c.403-.488.84-.948 1.308-1.373a12.918 12.918 0 0 0-8.704-3.358c-7.163 0-12.97 5.807-12.97 12.97 0 7.16 5.808 12.967 12.97 12.967 3.356 0 6.413-1.274 8.716-3.366l.024-.023c.13-.118.256-.24.38-.363.044-.042.085-.085.127-.128.09-.092.18-.186.268-.28l.135-.147c.098-.11.193-.22.287-.33l.078-.092h-2.62c-.358-.435-.688-.894-.988-1.372h4.593c.02-.032.043-.065.064-.1a13.958 13.958 0 0 0 .34-.586v-.002c.093-.17.18-.34.264-.513l.037-.074c.016-.033.03-.067.045-.1h-6.088a12.896 12.896 0 0 1-.55-1.374h7.187c.02-.06.042-.118.06-.177l.052-.163c.044-.146.086-.294.125-.442l.036-.134c.05-.195.096-.392.136-.59.038-.19.07-.382.102-.576a3.645 3.645 0 0 1-.242-1.368zM7.046 17.49l.807-5.058-1.8 5.057h-.96l-.12-5.028-.847 5.027H2.81l1.1-6.58h2.024l.057 4.073 1.367-4.072h2.187l-1.09 6.58H7.047zm4.733 0l.026-.555c-.356.438-.83.647-1.476.647-.763 0-1.286-.596-1.286-1.462 0-1.303.91-2.062 2.47-2.062.16 0 .365.015.575.042.043-.178.054-.253.054-.35 0-.353-.245-.484-.903-.484a4.657 4.657 0 0 0-1.49.24c.016-.09.197-1.203.197-1.203.702-.206 1.165-.284 1.685-.284 1.21 0 1.85.542 1.848 1.568.002.274-.043.614-.114 1.06-.122.774-.384 2.437-.42 2.84h-1.167zm4.12-3.186c.706.324.994.755.994 1.49 0 1.222-.686 1.787-2.173 1.787-.858-.023-1.144-.087-1.463-.157l.193-1.235c.45.146.84.21 1.26.21.56 0 .81-.15.81-.483 0-.243-.088-.322-.658-.59-.744-.35-1.072-.817-1.072-1.494-.005-.987.54-1.81 2.115-1.81.323 0 .875.047 1.24.105l-.2 1.24a7.897 7.897 0 0 0-1.013-.08c-.455 0-.69.148-.69.437 0 .25.07.31.66.582zm3.745-.88h-.72c-.163 1.02-.396 2.286-.398 2.454 0 .277.147.396.482.396.16 0 .284-.015.38-.05l-.188 1.184c-.385.12-.686.173-1.01.173-.72 0-1.114-.412-1.114-1.173-.01-.238.104-.86.194-1.427.08-.5.61-3.65.61-3.65h1.4l-.164.81h.72l-.193 1.285zm2.626 2.948c.502 0 .954-.104 1.457-.338l-.233 1.33c-.48.148-.945.218-1.436.217-1.567 0-2.383-.818-2.383-2.385 0-1.83 1.038-3.175 2.448-3.175 1.154 0 1.892.753 1.892 1.936 0 .393-.052.775-.173 1.315h-2.787c-.095.778.402 1.102 1.216 1.102z'/%3E%3C/g%3E%3C/svg%3E")
		
.page-footer__payment-variants
	display: flex
	justify-content: center
	align-items: center


.page-footer__payment-variants-list
	display: flex
	justify-content: flex-start
	align-items: center


.fx-b220

	flex-shrink: 0
	max-width: 220px
	width: 100%

.uk-comment-avatar
	float: none
	font-size: 40px
	border-radius: 100%
	border: 1px solid $grey
	color: $grey
	width: 60px
	height: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center

.uk-comment-header
	display: flex
	justify-content: flex-start
	align-items: center

.uk-comment
	&:not(:last-child)
		padding-bottom: 15px
		border-bottom: 1px solid #cccccc

.uk-comment-list
	li:not(:last-child)
		padding-bottom: 15px
		border-bottom: 1px solid #cccccc
		

.logo-primary-part
	fill: $black

.logo-colored-part
	fill: $brand


.side-dd-parent
	a
		position: relative

//BAG

.bag-goods__item-img
	margin-right: 20px
	max-width: 80px
	max-height: 75px
	
.bag-goods__item-count
	input
		height: 40px
		width: 40px
		padding: 0 10px
		text-align: center
		
.bag-goods__item-count-minus, .bag-goods__item-count-plus
	width: 27px
	height: 27px
	position: relative
	transition: all 0.3s ease 0s
	cursor: pointer
	background: $brand
	box-shadow: none
	border: none
	+trans()
	&:hover
		background-color: $brand * 0.8
	&:focus
		outline: none
	&::before
		content: ''
		width: 13px
		height: 3px
		background-color: #fff
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		
.bag-goods__item-inner
	margin-top: -20px
	overflow: hidden
	& > [class*="uk-width-"]
		padding-top: 20px
		
.bag-goods__item-count-minus
	margin-right: 15px
	
.bag-goods__head
	border-bottom: 1px solid $bag-border-color
	
.bag-goods__item-name
	font-family: $font-base-bold

.bag-goods__head-btn
	height: 100%
	padding: 20px 15px
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	+trans()
	&:hover
		background-color: #e7e7e7

.bag-goods__item
	padding: 15px 20px
	&:not(:last-child)
		border-bottom: 1px solid $bag-border-color

.bag-goods__item-text
	margin-right: 20px
	
.bag-goods
	margin-bottom: 30px
	
.bag-goods__item-del
	position: relative
	cursor: pointer
	width: 20px
	height: 20px
	+trans()
	&:hover
		&::before, &::after
			background-color: $brand * 0.8
	&::before, &::after
		+trans()
		width: 20px
		height: 3px
		top: 50%
		left: 50%
		position: absolute
		background-color: $brand
		content: ''
		
	&::before, &::after
		transform: translate(-50%, -50%) rotate(45deg)
	&::after
		transform: translate(-50%, -50%) rotate(-45deg)
		
.uk-offcanvas-bar__close
	position: absolute
	cursor: pointer
	width: 20px
	height: 20px
	+trans()
	&:hover
		&::before, &::after
			background-color: $brand * 0.8
	&::before, &::after
		+trans()
		width: 20px
		height: 3px
		top: 50%
		left: 50%
		position: absolute
		background-color: $brand
		content: ''
	
	&::before, &::after
		transform: translate(-50%, -50%) rotate(45deg)
	&::after
		transform: translate(-50%, -50%) rotate(-45deg)
		
.bag-goods__item-count-plus
	margin-left: 15px
	&::after
		content: ''
		width: 3px
		height: 13px
		background-color: #fff
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		
.bag-order__head
	padding: $bag-indent 20px
	border-bottom: 1px solid $bag-border-color
	.bag-num
		width: 40px
		height: 40px
		display: flex
		justify-content: center
		border-radius: 100%
		align-items: center
		border: 1px solid $brand
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		font-family: $font-base-bold


.bag_main
	.btn-primary
		font-size: 18px
		line-height: 33px
		
.bag-order-radio__block-left
	font-family: $font-base-bold
	
.bag-mobile-result
	padding: 15px 20px
	background-color: $beige
	border-bottom: 1px solid $bag-border-color
	z-index: 100
	
	
.bag-order__head-title, .bag-order__head-input
	display: flex
	align-items: center
	padding-left: 60px
	
.bag-order__head-title
	position: relative
	min-height: 40px
	
.bag-result-mobile
	padding: 0 80px
	.bag-promo
		margin-bottom: 0
		.input-wrapper
			width: 70%
		.btn-promo
			width: 30%
	
	
.bag-order__head-input
	max-width: 330px
	padding-top: 10px
	padding-right: 60px
	
.bag-order-radio__block
	padding: 0 30px

.bag-order-radio-item
	border-bottom: 1px solid $bag-border-color
	padding: 15px 0
	position: relative
	
.bag-radio
	position: absolute
	top: $bag-indent
	left: 30px
	width: 16px
	height: 16px
	
.bag-order-radio__block-label, .bag-order-radio__field
	padding-left: 50px
	
	

.bag-order-radio__block-right
	display: flex
	justify-content: flex-end
	
.card-order-footer
	padding: $bag-indent 30px
	display: flex
	justify-content: flex-end
	align-items: center
	
.hamburger-box
	width: 35px
	
.bag-order__result-notification
	margin-right: 20px
	
.bag-result-block
	z-index: 10
	
.bag-order__head-title-change
	margin-left: auto
	display: flex
	align-items: center
	cursor: pointer
	.uk-icon
		margin-left: 15px
		color: #43b77a
	
.bag-order__head-change-text
	color: #4d75a3
	text-decoration: underline
	&:hover
		text-decoration: none
		
.bag-order__result
	font-size: 16px
	color: #827777
	
.bag-order__result-notification
	font-size: 14px
	color: $brand

.bag-order__body
	padding: $bag-indent 30px $bag-indent 80px
	.bag-order-radio-list
		margin-left: -80px
		margin-right: -30px
		margin-top: -15px
		margin-bottom: -15px
	.uk-grid-margin
		margin-top: 15px
	
.bag-order__body-delivery-right
	display: flex
	justify-content: flex-end
	
.bag-delivery__day
	width: 60%
	margin-right: 20px
	
.bag-delivery-result__days
	width: 60%
	margin-right: 20px
	
.bag-order__body-delivery-left
	display: flex
	justify-content: flex-start
	
.bag-delivery-result__executor
	width: 25%
	margin-right: 20px
	font-family: $font-base-bold

.bag-delivery-result__address
	font-size: 16px
	width: 75%
	
.bag-order__body-input-list
	position: relative
	margin-top: -20px
	& > *
		padding-top: 20px

.bag-order-payment-list
	.bag-order-radio__block-label
		img
			margin-left: 5px
			
.bag-order__body-contacts-result
	font-family: $font-base-bold
	img
		margin-left: 20px
		
.bag-order__body-contacts
	margin-top: -15px ////wdwdwdwdwdwdwdwd
	input
		font-size: 14px
	textarea
		font-size: 14px
	[class*="uk-width-"]
		padding-top: 15px
		
.bag-contacts__firm-name, .bag-contacts__phone, .bag-contacts__comment-title
	margin-bottom: 7px
	
	
.bag-contacts__firm
	font-family: $font-base-bold
	
.bag-order-item
	background-color: $beige
	box-shadow: 0 0.3em 0 #dadada
	&:not(:last-child)
		margin-bottom: 30px
	&.bag-order-item-result
		display: none
		.bag-num
			border-color: #43b77a

		
.bag_sidebar-title
	font-size: 30px
	
.bag-goods
	background-color: $beige
	line-height: 20px
	box-shadow: 0 0.3em 0 #dadada
	
.bag_sidebar-item
	background-color: $beige
	box-shadow: 0 0.3em 0 #dadada

.bag-goods__item-price-sum, .bag-goods__item-price, .bag-delivery__price, .bag-delivery-result__price
	& > p
		&::after
			content: 'Р'
			display: inline
			margin-left: 5px
			
.bag_sidebar-goods-price, .bag_sidebar-delivery-price, .bag_sidebar-result-price
	font-family: $font-base-bold
	&::after
		content: 'Р'
		display: inline
		margin-left: 5px
		
.products-price
	& > p
		&::after
			content: 'Р'
			display: inline
			margin-left: 5px
			
		
.bag_sidebar-result-price
	font-size: 20px
	
.bag_sidebar-delivery-type, .bag_sidebar-delivery-days
	font-size: 16px

.bag_sidebar-delivery-days
	color: $grey
	
.rub
	display: inline
	font-family: $font-ruble

.bag-delivery-result__price
	font-family: $font-base-bold

.bag-title
	font-family: $font-base-bold
	font-size: 22px

.bag-delivery__price
	font-family: $font-base-bold
	
.bag-order-radio__field
	padding: 15px 80px 0 80px
	input
		font-size: 14px
	&.uk-grid
		margin-top: 0 !important

.bag-goods__item-price-sum
	font-family: $font-base-bold
	font-size: 22px

.bag-goods__item-price
	color: $grey
	font-size: 16px
	
.bag-goods__item-link
	text-decoration: none
	&:hover

.bag-goods__item-art
	font-size: 15px
	color: $grey
	margin-bottom: 10px
	
.bag-promo
	display: flex
	margin-bottom: 30px
	
.bag_sidebar-notification
	margin-bottom: 10px
	font-size: 14px
	text-align: center
	color: $brand
	
.btn-promo
	background-color: $brand
	line-height: 30px
	color: #fff
	text-decoration: none
	min-width: 100px
	font-size: 15px
	cursor: pointer
	&:hover
		background-color: $brand * 0.8
		color: #fff
		
.bag_sidebar-head
	padding: 15px 20px
	border-bottom: 1px solid $bag-border-color

.bag_sidebar-body
	padding: 15px 20px

.bag-contacts__comment
	font-size: 16px
	
.page-footer__payment-variants-wrapper
	background-color: #dcd4d7
	padding: 15px 0
	
.page-header__actions-bar__key-text
	position: absolute
	font-size: 16px
	bottom: 0
	transform: translate(-50%, 100%)
	left: 50%
	+trans()
	&:hover
		text-decoration: none
	
.page-header__actions-bar-goods-count, .page-header__actions-bar-favorite-count
	font-size: 15px
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	right: -10px
	top: 0
	color: #fff
	font-family: $font-base-bold
	width: 27px
	height: 22px
	border-radius: 10px
	background-color: $brand2
	
.hidden-imp
	display: none !important
	
.page-header__actions-bar-favorite-count
	top: -11px
	
.page-header__actions-bar
	.uk-dropdown
		background-color: #fff
		left: -46px !important
		a
			width: initial
			
.pb15
	padding-bottom: 25px
	
	
//CARD_REVIEWS

.card-review-item__img
	border: 2px solid #cdbdae
	border-radius: 100%
	overflow: hidden
	line-height: 0
	font-size: 0

.card-review-item
	padding: 25px 30px 25px 30px
	border: 2px solid #f0f0ef
	background-color: #fff
	&:not(:last-child)
		margin-bottom: 10px

.card-reviews__panel
	padding: 25px 30px 25px 30px
	background-color: #fff
	
.card-good-title
	font-size: 30px
	
	
.card-reviews__form
	background-color: #fff
	padding: 35px 80px 35px 80px
	label
		margin-bottom: 10px
		display: block
		
	.uk-grid-margin
		margin-top: 15px
		
.card-reviews .tabs
	.uk-grid-margin
		margin-top: 15px
	
	
.card-main__footer
	background-color: #fff
	padding: 50px 80px 50px 80px

.card-review-item__text
	margin-left: 20px
	
	
.products-slider-tabs
	.uk-tab>li:not(.uk-active)>a:hover, .uk-tab>li:not(.uk-active)>a:focus, .uk-tab>li.uk-open:not(.uk-active)>a
		padding: 0
		margin: 0