{% extends "layouts/app.twig" %}

{% block pageTitle %}Категория{% endblock %}


{% block content %}

    <main class="page-main">
        {% include "widgets/bredcrumbs.twig" with {"title": "Косметика для лица"} %}
        <section class="category">
        <div class="uk-container uk-container-center">
            <div class="section-inner">
        
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="category-filter">
                        {% for 1 in 1..9 %}
                            <a href="#" class="category-filter__item d-fx fx-justify fx-middle">
                                <div class="category-filter__item-name">
                                    <p>Дневной крем</p>
                                </div>
                                <span class="category-filter__item-number">
                                    424
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="d-fx fx-justify fx-middle">
                        <div class="sidebar-title">
                            <p>Тип товара</p>
                        </div>
                        <div class="slide-toggle">
                        </div>
                    </div>
                    <div class="slide-toggle-content list-mb-10">
                        {% for 1 in 1..5 %}
                        <div class="d-fx fx-left fx-middle">
                             <input type="checkbox" class="">
                             <p class="">Концентрат</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="d-fx fx-justify fx-middle">
                        <div class="sidebar-title">
                            <p>Линии</p>
                        </div>
                        <div class="slide-toggle">
                        </div>
                    </div>
                    <div class="slide-toggle-content uk-text-left">
                        <div class="d-fx fx-column fx-left list-mb-10">
                           {% for 1 in 1..10 %}
                            <a href="#" class="fz16">
                                Vitex for Men Fresh Comfort
                            </a>
                        {% endfor %} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="category-nav">
                    <div class="full-width uk-text-left mb15">
                        <p>Сортировать по:</p>
                    </div>
                    <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-3 mb15 " data-uk-grid-margin=''>
                        
                    
                    <div class="">
                        <div class="full-width">
                        <select>
                            <option>Цена</option>
                            <option>Популярность</option>
                            <option>Количество</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="category-content mb40">
                    <div class="uk-grid mb30" data-uk-grid-margin="">
                        {% for 1 in 1..9 %}
                            <div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-3">
                                {% include "elements/products-item.twig" %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="fz17 text-center text-underline">
                        <a href="#" class="">Показать еще</a>
                    </div>
                </div>
                <div class="d-fx fx-center fx-middle uk-position-relative">
                    <div class="pagination-annotation uk-hidden-small">
                        <p>
                            Результаты:
                            <span class="pagination-annotation-val1">
                                12
                            </span>
                            из
                            <span class="pagination-annotation-val3">
                                424
                            </span>
                        </p>

                    </div>
                    {% include "widgets/pagination.twig" %}
                </div>
                
            </div>
        </div>
        </div>
        </div>
        </section>

        <section>
            <div class="uk-container uk-container-center">
                <div class="section-inner">
                    <div class="mb15 fz30 md-fz25 sm-fz22 text-uppercase lh-normal b-word">
                        <p>КОСМЕТИКА ДЛЯ ЛИЦА: КАК ГРАМОТНО ПОДОБРАТЬ НЕОБХОДИМЫЙ УХОД</p>
                    </div>
                    <div class="text-paragraph">
                        <p>О важности правильного ухода за кожей лица можно говорить бесконечно и каждый раз находить всё новые и новые аспекты для обсуждения. Лицо – это первое, что бросается в глаза в облике человека, поэтому косметика для лица обязана отвечать всем требованиям, предъявляемым к ней. А требований этих множество, и исходят они из многих факторов: тип кожи, сезонные и возрастные изменения, преследуемая цель и основное назначение.</p>

                        <p>Косметологи и дерматологи всего мира выработали универсальную схему ухода за кожей лица, соблюдение 
                        этапов которой позволит избежать многих проблем и преумножить свою красоту.</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}