<header class="page-header" id="page-header">
    <nav class="page-header__navbar uk-hidden-small">
        <div class="uk-container uk-container-center">
            <div class="page-header__navbar-inner uk-position-relative">
                <div class="page-header__nav-wrapper">
                    <ul class="page-header__nav p-rel">
                        <li><a href="services.html">Гарантия и возврат</a></li>
                        <li><a href="services.html">Доставка и оплата</a></li>
                        <li><a href="partners.html">Отзывы</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="page-header__phone-wrapper uk-visible-large">
                    <a href="tel:88008888868"
                       class="page-header__phone fz25 text-brand text-semibold">8-800-888-8868</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-header__logo-panel" data-sticky data-sticky-target="#page-header">
        <div class="uk-container uk-container-center">
            <div class="page-header__logo-panel-inner uk-position-relative">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-1-2 uk-width-small-1-2 uk-width-medium-3-10 d-fx fx-middle fx-column fx-left md-order2 lg-fx-center">
                        <div class="full-width mb10 uk-visible-large hide-on-scroll">
                            <a href="#" class="text-underline text-brand fz24  uk-display-block"
                               data-uk-modal="{target:'#city', center:true}">Воронеж</a>
                        </div>
                        <div class="full-width uk-visible-large hide-on-scroll">
                            <p>бесплатная доставка <br/>
                                при сумме покупки 900 Р</p>
                        </div>
                        <div class="uk-hidden-large full-width hide-on-scroll">
                            <button class="hamburger hamburger-mobile uk-display-inline " type="button"
                                    data-uk-offcanvas="{target:'#offcanvas'}">

  							<span class="hamburger-box">
    							<span class="hamburger-inner"></span>
							</span>
                            </button>
                        </div>
                        <div data-uk-dropdown="{mode:'click'}" class="side-dd-wrapper side-dd-wrapper-scroll catalog-dd">
                            {#<div class="catalog-dd-overlay"></div>#}
                            <button class="hamburger hamburger-desktop hamburger--slider uk-display-inline "
                                    type="button">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                            </button>
                            <div class="uk-dropdown side-dd">
                                <ul class="uk-nav uk-nav-dropdown ">
                                    <li class="side-dd-parent">
                                        <a href="">УХОД ЗА ЛИЦОМ</a>
                                        <div class="side-dd-sub">
                                            <div class="side-dd-sub__inner uk-position-relative">
                                                <div class="side-dd-sub__title"><a href="">Рубрики</a></div>
                                                <div class="side-dd-sub-list">
                                                    <a href="#">1) Для жирных волос</a>
                                                    <a href="#">2) Для сухих и поврежденных волос</a>
                                                    <a href="#">3) Для нормальных волос</a>
                                                    <a href="#">4) Средства для окраски волос</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="side-dd-parent">
                                        <a href="">УХОД ЗА ЛИЦОМ</a>
                                        <div class="side-dd-sub">
                                            <div class="side-dd-sub__inner uk-position-relative">
                                                <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                <div class="side-dd-sub-list">
                                                    <a href="#">1) Для жирных волос</a>
                                                    <a href="#">2) Для сухих и поврежденных волос</a>
                                                    <a href="#">3) Средства для укладки волос</a>
                                                    <a href="#">4) Средства для окраски волос</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="side-dd-parent">
                                        <a href="">УХОД ЗА ЛИЦОМ</a>
                                        <div class="side-dd-sub">
                                            <div class="side-dd-sub__inner uk-position-relative">
                                                <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                <div class="side-dd-sub-list">
                                                    <a href="#">1) Для жирных волос</a>
                                                    <a href="#">2) Для сухих и поврежденных волос</a>
                                                    <a href="#">3) Для сухих и поврежденных волос</a>
                                                    <a href="#">4) Для сухих и поврежденных волос</a>
                                                    <a href="#">5) Средства для укладки волос</a>
                                                    <a href="#">6) Средства для окраски волос</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="side-dd-parent">
                                        <a href="">УХОД ЗА ЛИЦОМ</a>
                                        <div class="side-dd-sub">
                                            <div class="side-dd-sub__inner uk-position-relative">
                                                <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                <div class="side-dd-sub-list">
                                                    <a href="#">1) Для жирных волос</a>
                                                    <a href="#">2) Для сухих и поврежденных волос</a>
                                                    <a href="#">3) Средства для укладки волос</a>
                                                    <a href="#">4) Средства для окраски волос</a>
                                                    <a href="#">5) Средства для окраски волос</a>
                                                    <a href="#">6) Средства для окраски волос</a>
                                                    <a href="#">7) Средства для окраски волос</a>
                                                    <a href="#">8) Средства для окраски волос</a>
                                                    <a href="#">9) Средства для окраски волос</a>
                                                    <a href="#">01) Средства для окраски волос</a>
                                                    <a href="#">11) Средства для окраски волос</a>
                                                    <a href="#">12) Средства для окраски волос</a>
                                                    <a href="#">13) Средства для окраски волос</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-4-10 d-fx fx-middle fx-center md-order1 hide-on-scroll-mobile">
                        <div class="fx-middle fx-column d-fx">
                            <a href="" class="header-logo svg mb10  sm-mb0 scroll-mb0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="58.775mm" height="7.944mm"
                                     viewBox="0 0 5877 794" shape-rendering="geometricPrecision"
                                     text-rendering="geometricPrecision" image-rendering="optimizeQuality"
                                     fill-rule="evenodd" clip-rule="evenodd">
                                    <path class="logo-colored-part"
                                          d="M5611 794c-213 0-273-99-280-111-12-24-4-54 19-67 25-13 53-4 66 18 2 2 12 16 38 30 49 26 113 33 157 33 65 0 114-14 141-39 22-21 27-45 27-62 0-36-11-64-34-86-31-31-84-53-158-68-54-11-102-31-139-56-32-21-56-48-73-80-29-48-29-93-29-105 0-51 25-103 67-142 20-18 46-32 74-43 30-11 62-16 96-16 191 0 247 90 253 101 13 24 4 54-19 67-23 12-53 5-66-17-2-3-10-13-32-26-24-12-65-26-136-26-54 0-87 18-105 35-22 19-34 44-34 70v2c0 3 0 27 18 56 10 18 25 33 45 46 26 17 59 29 99 38 94 19 162 49 207 93 42 41 64 94 64 157 0 51-21 99-58 134-45 43-117 64-208 64zM4845 794c-73 0-134-15-185-43-42-26-76-60-101-104-40-74-40-152-40-177V59c0-26 22-48 49-48s50 22 50 48v411c0 19 0 78 27 130 16 29 37 50 65 66 34 19 79 31 135 31 54 0 99-12 133-31 27-16 49-37 64-65 28-53 28-112 28-131V59c0-26 23-48 49-48 28 0 49 22 49 48v411c0 25 0 104-40 177-36 68-115 147-283 147zM3780 783c-28 0-50-23-50-49V59c0-26 22-48 50-48h291c4 0 28 0 58 8 43 11 81 32 110 61 22 21 39 47 51 78 14 34 20 72 20 115 0 92-39 163-113 205-17 10-38 19-59 25 43 36 81 82 111 136 25 44 53 44 57 44 26-3 51 15 55 41 4 27-15 52-41 55-7 2-30 4-60-6-26-9-66-32-95-85-35-58-78-105-126-137-34-22-60-28-62-28-25-5-42-28-39-53 2-26 23-45 49-45 70 0 124-10 162-33 43-24 62-62 62-119 0-41-6-73-21-98-10-19-25-34-45-46-34-19-71-20-74-20h-242v625c0 26-22 49-49 49z"/>
                                    <path class=" logo-primary-part"
                                          d="M3239 172l-197 407c9-4 18-10 27-14 66-36 133-59 196-71 45-8 87-10 129-7l-155-315zm-327 611c-9 0-20-4-29-10-19-14-26-39-15-61l327-674c9-17 26-27 44-27 19 0 37 10 44 27l329 674c12 23 2 53-22 64-24 13-54 1-66-22l-76-158c-52-15-105-17-164-5-54 9-110 28-167 59-101 53-171 118-171 119-9 8-22 14-34 14zM2662 783h-429c-26 0-48-22-48-49V59c0-26 22-48 48-48 28 0 49 22 49 48v626h380c27 0 49 21 49 49 0 27-22 49-49 49zM1978 783h-429c-26 0-48-22-48-49V59c0-26 22-48 48-48 28 0 50 22 50 48v626h379c27 0 49 21 49 49 0 27-22 49-49 49zM1295 684H874V444h364c27 0 48-22 48-50 0-26-21-48-48-48H874V109h410c28 0 50-22 50-50 0-26-22-48-50-48H825c-26 0-49 22-49 48v674c0 27 23 49 49 49h470c27 0 49-22 49-49 0-28-22-49-49-49zM520 578c-5 41-18 70-45 86-19 13-48 20-82 20H99V109h250c83 0 120 27 127 90 5 42-2 75-19 98-26 31-69 38-78 39l-161 1c-26 0-49 21-49 49 1 27 23 49 49 49h2l162-1h3c1 0 18-1 39 3 20 4 48 13 68 33 22 23 33 59 28 108zm88-100c-10-30-26-56-47-77-12-12-24-22-38-31 2-4 5-6 9-11 16-21 29-46 36-73 8-29 10-62 5-98-11-92-62-134-102-154-44-21-91-23-122-23H49C22 11 0 33 0 59v674c0 14 6 25 15 35 8 9 21 14 34 14h344c53 0 98-12 134-34 26-16 46-36 62-63 16-28 25-60 29-99 2-40-1-76-10-108z"/>
                                </svg>
                            </a>
                            <p class="text-brand hide-on-scroll sm-hidden"> косметика и парфюмерия</p>
                        </div>
                    </div>
                    <div class="uk-width-1-2  uk-width-small-1-2  uk-width-medium-3-10 d-fx fx-middle fx-right md-order2"
                         id="actions">
                        <div class="page-header__actions-bar d-fx fx-bottom uk-position-relative">

                            <a class="page-header__actions-bar__key svg " href="#"
                               data-uk-modal="{target:'#login', center:true}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.98709 464.55313"
                                     width="511.987" height="464.553">
                                    <path d="M491.875 95.34c-14.9-14.9-34.4-21.2-56.6-18.6 2.7-22.2-3.7-41.7-18.6-56.6-28.7-28.7-73.1-25.8-101.6 2.8-35.6 35.7-22.3 87.3-15.7 165.9l-117 117-59.2-59.2c-6.5-6.5-17.1-6.5-23.7 0l-94.6 94.6c-6.5 6.5-6.5 17.1 0 23.7l59.2 59.2-11.8 11.8c-6.5 6.5-6.5 17.1 0 23.7 6.5 6.6 17.1 6.5 23.7 0l247-247c78.6 6.6 130.5 20.1 166.2-15.6 28.5-28.8 31.3-73.1 2.7-101.7zm-404.2 305.1l-47.3-47.3 23.7-23.7 11.8 11.8c6.5 6.5 17.1 6.5 23.7 0 6.5-6.5 6.5-17.1 0-23.7l-11.8-11.8 23.7-23.7 47.3 47.3zm377.7-227.2c-22 22-60.6 13-133.2 6.5-6.5-72.6-15.4-111.3 6.5-133.2 13.8-13.8 37.5-19.5 54.3-2.8 19.1 19.1 3.3 48.5 2.6 49.8-3.6 6.5-2.5 14.7 2.8 20 5.3 5.3 13.5 6.5 20 2.8 1.2-.7 30.8-16.5 49.8 2.6 16.7 16.8 11.1 40.5-2.8 54.3z"
                                          fill="#d80027"/>
                                </svg>
                                <p class="page-header__actions-bar__key-text text-underline text-brand hide-on-scroll uk-visible-large">
                                    Войти</p>
                            </a>
                            {#<div data-uk-dropdown="{mode:'hover', delay:100, justify:'#actions', pos:'bottom-left', boundary:'#page-hero-slider'}"#}
                                 {#class="uk-position-relative page-header__actions-bar-login">#}
                                {#<a class="page-header__actions-bar__person svg uk-display-inline-block" href="#">#}
                                    {#<svg xmlns="http://www.w3.org/2000/svg" width="253.53mm" height="296.42mm"#}
                                         {#shape-rendering="geometricPrecision" text-rendering="geometricPrecision"#}
                                         {#image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"#}
                                         {#viewBox="0 0 25446 29751">#}
                                        {#<g fill="#D1688F">#}
                                            {#<path d="M12607 16459h209c1881-35 3412-699 4547-1979 2393-2702 2044-7231 1991-7796-163-3395-1793-5019-3126-5782-1001-570-2154-879-3435-902h-111c-710 0-2096 116-3441 879-1356 769-3004 2399-3167 5811-52 570-407 5094 1991 7795 1130 1275 2661 1945 4542 1974zM8595 6934l6-23v-6c0-17 6-35 6-64 175-3732 2626-4291 4070-4291h64c1769 41 3912 821 4075 4285 0 29 0 70 12 122 29 356 302 3971-1363 5846-669 751-1537 1112-2724 1118h-59c-1176-12-2067-379-2724-1124-1706-1921-1380-5671-1363-5863z"/>#}
                                            {#<path d="M25444 23352v-11c0-35 0-64-5-99v-76c-18-617-53-1653-425-2672-472-1281-1345-2149-2597-2579-18-6-29-12-47-18l-40-11c-2556-653-4711-2120-4798-2184l-6-6c-215-151-465-232-727-232-414 0-804 203-1043 541-401 571-262 1368 309 1770 99 70 2521 1764 5578 2556 983 361 1211 1380 1257 2905 0 52 0 111 6 169 6 466-23 1089-82 1519-1211 653-4768 2283-10101 2283-5304 0-8884-1630-10107-2288-64-449-93-1095-82-1537v-12-41c0-29 6-64 6-99 47-1525 274-2544 1258-2905 2695-699 4925-2113 5542-2527l35-23c577-402 711-1199 309-1770-239-338-629-541-1042-541-262 0-513 81-728 232l-6 6c-87 64-2236 1531-4791 2184-35 11-64 17-99 29-1240 430-2114 1298-2585 2579C60 21513 25 22543 8 23160v117l-6 29v41c-6 332-18 1985 337 2876 99 250 268 460 495 599 216 140 4629 2929 11901 2929 7079 0 11423-2626 11900-2923l6-6c221-145 396-361 489-599 332-891 320-2533 314-2871z"/>#}
                                        {#</g>#}
                                    {#</svg>#}
                                    {#<p class="page-header__actions-bar__key-text text-underline text-brand hide-on-scroll uk-visible-large">#}
                                        {#Войти</p>#}
                                {#</a>#}
                                {#<div class="uk-dropdown">#}
                                    {#<div class="text-center fz24 text-uppercase mb40 lh-normal">#}
                                        {#<p>ваша корзина</p>#}
                                    {#</div>#}
                                    {#<div class="text-left list-mb-10 fx text-underline fx-column mb20">#}
                                        {#<a href="#">Мои заказы</a>#}
                                        {#<a href="#">Служба поддежки</a>#}
                                        {#<a href="#">Информация о пользователе</a>#}
                                    {#</div>#}
                                    {#<div class="dropdown-footer">#}
                                        {#<a href="#" class="btn btn-primary">Выход</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            <a class="page-header__actions-bar__heart svg" href="#">
                                {#<span class="page-header__actions-bar-favorite-count">#}
                                {#22#}
                                {#</span>#}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 302.90082 267.70001"
                                     width="302.901" height="267.7">
                                    <path d="M216.2 0c-23.2 0-44.9 9-61.3 25.4l-3.6 3.6-3.6-3.6C131.3 9 109.5 0 86.4 0 63.3 0 41.6 9 25.3 25.3 8.9 41.7-.1 63.5 0 86.5c0 23.2 9.1 44.8 25.4 61.2l115.7 115.7c2.8 2.8 6.5 4.3 10.2 4.3 3.6 0 7.4-1.4 10.2-4.2l116-115.6c16.4-16.4 25.4-38.2 25.4-61.2 0-23.2-9-44.9-25.3-61.3C261 9.1 239.2 0 216.2 0zm40.6 127.5L151.1 232.8 45.6 127.3c-10.9-10.9-16.9-25.4-16.9-40.9s6-29.9 16.8-40.7c10.8-10.8 25.3-16.8 40.7-16.8 15.4 0 29.9 6 40.9 16.9L141 59.7c5.7 5.7 14.8 5.7 20.5 0l13.8-13.8C186.2 35 200.7 29 216.2 29c15.3 0 29.8 6 40.7 16.9 10.9 10.9 16.9 25.4 16.8 40.7 0 15.5-6 30-16.9 40.9z"
                                          fill="#933ec5"/>
                                </svg>

                            </a>
                            <div data-uk-dropdown="{mode:'hover', delay:100, justify:'#actions', pos:'bottom-left', boundary:'#page-hero-slider'}"
                                 class="uk-position-relative page-header__actions-bar-bag">
                                <a class="page-header__actions-bar__bag svg uk-display-inline-block" href="#">
                                    {#<span class="page-header__actions-bar-goods-count">#}
                                    {#2#}
                                    {#</span>#}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 439.10001 459.10001"
                                         width="439.1"
                                         height="459.1">
                                        <path d="M262.4 301.8l-29.7 28.4V210.7c0-7-6-12.7-13.3-12.7-7.3 0-13.3 5.7-13.3 12.7v119.5l-29.7-28.4c-5.2-5-13.6-5-18.8 0-5.2 5-5.2 13 0 18l52.2 50c2.5 2.4 6 3.7 9.4 3.7 3.4 0 6.7-1.3 9.4-3.7l52.4-50.2c5.2-5 5.2-13 0-18-5-4.8-13.4-4.8-18.6.2z"
                                              class="path" fill="#933ec5"/>
                                        <path d="M408.3 117.1c-.9-9.7-9.1-16.9-19.2-16.9h-59C326.6 44.4 278.3 0 219.5 0S112.4 44.4 109 100.2H50c-10 0-18.3 7.3-19.2 16.9L0 384.1v1.9c0 40.3 38.2 73.1 85.1 73.1H354c46.9 0 85.1-32.8 85.1-73.1v-1.5zM219.5 37.4c37.5 0 68.5 27.6 71.8 62.7H147.7c3.3-35 34.3-62.7 71.8-62.7zm-91.4 157.5c10.6 0 19.3-8.4 19.3-18.7v-38.6h144.2v38.6c0 10.3 8.6 18.7 19.3 18.7 10.7 0 19.3-8.4 19.3-18.7v-38.6h41.3l29 249.1c-.5 19.2-21.3 34.7-46.5 34.7H85.1c-25.2 0-46-15.6-46.5-34.8l29-249h41.3v38.6c-.1 10.3 8.6 18.7 19.2 18.7z"
                                              class="path" fill="#933ec5"/>
                                    </svg>
                                </a>
                                <div class="uk-dropdown">
                                    <div class="text-center fz24 text-uppercase mb40 lh-normal">
                                        <p>ваша корзина</p>
                                    </div>
                                    <div class="text-center mb20 dropdown-divider">
                                        <div class="dropdown-divider-inner fz20">
                                            <span class="page-header__actions-bar-bag-count uk-display-inline">25</span>
                                            <p>товаров</p>
                                        </div>
                                    </div>
                                    <div class="mb15">
                                        <div class="dropdown-footer">
                                            <a href="#" class="btn btn-primary">Перейти в корзину</a>
                                        </div>
                                    </div>
                                    <div class="uk-text-left">
                                        <p>* Минимальная сумма заказа 500 <i class="rub">a</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-header__search-panel sm-hidden">
        <div class="uk-container uk-container-center">
            <div class="page-header__search-panel-inner uk-position-relative" id="search-panel">
                <div class="uk-grid d-fx fx-middle full-width uk-grid-collapse">
                    <div class="uk-width-1-2 uk-width-small-1-2 uk-width-medium-3-10 d-fx fx-left fx-baseline">
                        <div class="d-fx fx-left uk-visible-large ">
                            <div data-uk-dropdown="{mode:'click'}" class="side-dd-wrapper catalog-dd fx-baseline d-fx ">
                                <div class="catalog-dd-overlay"></div>
                                <button class="hamburger hamburger-desktop hamburger--slider uk-display-inline "
                                        type="button">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    <p class=" text-uppercase text-white fz26 uk-display-inline side-dd-text side-dd-text">
                                        каталог
                                    </p>
                                </button>

                                <div class="uk-dropdown side-dd">
                                    <ul class="uk-nav uk-nav-dropdown ">
                                        <li class="side-dd-parent">
                                            <a href="">УХОД ЗА ЛИЦОМ</a>
                                            <div class="side-dd-sub">
                                                <div class="side-dd-sub__inner uk-position-relative">
                                                    <div class="side-dd-sub__title"><a href="">Рубрики</a></div>
                                                    <div class="side-dd-sub-list">
                                                        <a href="#">1) Для жирных волос</a>
                                                        <a href="#">2) Для сухих и поврежденных волос</a>
                                                        <a href="#">3) Для нормальных волос</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="side-dd-parent">
                                            <a href="">УХОД ЗА ЛИЦОМ</a>
                                            <div class="side-dd-sub">
                                                <div class="side-dd-sub__inner uk-position-relative">
                                                    <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                    <div class="side-dd-sub-list">
                                                        <a href="#">1) Для жирных волос</a>
                                                        <a href="#">2) Для сухих и поврежденных волос</a>
                                                        <a href="#">3) Средства для укладки волос</a>
                                                        <a href="#">4) Средства для окраски волос</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="side-dd-parent">
                                            <a href="">УХОД ЗА ЛИЦОМ</a>
                                            <div class="side-dd-sub">
                                                <div class="side-dd-sub__inner uk-position-relative">
                                                    <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                    <div class="side-dd-sub-list">
                                                        <a href="#">1) Для жирных волос</a>
                                                        <a href="#">2) Для сухих и поврежденных волос</a>
                                                        <a href="#">3) Для сухих и поврежденных волос</a>
                                                        <a href="#">4) Для сухих и поврежденных волос</a>
                                                        <a href="#">5) Средства для укладки волос</a>
                                                        <a href="#">6) Средства для окраски волос</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="side-dd-parent">
                                            <a href="">УХОД ЗА ЛИЦОМ</a>
                                            <div class="side-dd-sub">
                                                <div class="side-dd-sub__inner uk-position-relative">
                                                    <div class="side-dd-sub__title"><a href="">scs</a></div>
                                                    <div class="side-dd-sub-list">
                                                        <a href="#">1) Для жирных волос</a>
                                                        <a href="#">2) Для сухих и поврежденных волос</a>
                                                        <a href="#">3) Средства для укладки волос</a>
                                                        <a href="#">4) Средства для окраски волос</a>
                                                        <a href="#">5) Средства для окраски волос</a>
                                                        <a href="#">6) Средства для окраски волос</a>
                                                        <a href="#">7) Средства для окраски волос</a>
                                                        <a href="#">8) Средства для окраски волос</a>
                                                        <a href="#">9) Средства для окраски волос</a>
                                                        <a href="#">10) Средства для окраски волос</a>
                                                        <a href="#">11) Средства для окраски волос</a>
                                                        <a href="#">12) Средства для окраски волос</a>
                                                        <a href="#">13) Средства для окраски волос</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="page-header__destination-mobile">
                            <i class="uk-icon uk-icon-map-marker uk-display-inline text-brand fz25"></i>
                            <a href="#"
                               class="page-header__destination fz19 text-underline text-brand text-center uk-display-inline">
                                Воронеж
                            </a>
                        </div>
                        <span class="page-header__tovars-counter text-white">
						18652
					</span>
                    </div>

                    <div class="uk-width-small-1-2 uk-width-medium-4-10 d-fx fx-center fx-middle uk-hidden-small">
                        <div class="page-header__search-bar">
                            <input type="text"/>
                        </div>
                    </div>


                    <div class="uk-width-1-2 uk-width-small-1-2 uk-width-medium-3-10 d-fx fx-right fx-middle">
                        <div class="page-header__search-panel-delivery d-fx fx-middle ">

                            <div class="header-delivery-icon uk-visible-large">
                                <object type="image/svg+xml" data="images/car.svg" width="100%" height="100%"></object>
                            </div>
                            <div class="text-white uk-visible-large">
                                <a href="#" class="text-white header-delivery-icon-link">Узнать стоимость <br/>
                                    доставки в ваш город</a>
                            </div>


                            <div class="d-fx fx-middle sm-hidden  uk-hidden-large">
                                <a href="tel:88008888868"
                                   class="page-header__phone phone-mobile fz25 text-brand text-semibold">8-800-888-8868</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>